body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('src/assets/mtg wallpaper.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background: rgba(38, 38, 38, 0.88);
    padding: 60px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 100);
    max-width: 400px;
    width: 100%;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 100);
    margin-left: 35px;
    margin-bottom: 50px;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 15px;
    text-align: left;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px rgba(255, 255, 255, 100);
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.88) 0px 10px 20px -12px inset, rgba(0, 0, 0, 0.76) 0px 18px 36px -18px inset;
}

.form-container button {
    padding: 10px 20px;
    background: rgba(51, 51, 51, 100);
    color: rgba(255, 255, 255, 100);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form-container button:hover {
    background: rgba(85, 85, 85, 100);
}
