body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.form-container {
    background: rgba(38, 38, 38, 0.88);
    padding: 60px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 100);
    max-width: 400px;
    width: 100%;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 100);
    margin-left: 35px;
    margin-bottom: 50px;
}

.form-container h2 {
    margin-bottom: 60px;
}

.form-container label {
    display: block;
    margin-bottom: 15px;
    text-align: left;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.form-container button {
    padding: 10px 20px;
    background: rgba(51, 51, 51, 100);
    color: rgba(255, 255, 255, 100);
    border: 1px solid rgba(255, 255, 255, 100);
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form-container button:hover {
    background: rgba(85, 85, 85, 100);
}

.error {
    color: rgba(255, 0, 0, 100);
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 10px;
}